{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}
{% block description %}
    Просматривайте последние новости и статьи на нашем сайте. Узнайте подробности о каждом материале.
{% endblock description %}

{% block keywords %}
    новости, статьи, добавление статьи, последние новости, актуальные новости, сайт новостей
{% endblock keywords %}

{% block main %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <a href="add/" class="add_btn">
                <button class="btn btn-warning">Добавить новую статью</button>
            </a>
        </div>
    </div>

    <div class="row">
        {% for el in news %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="news_card p-3 border rounded shadow-sm">
                <h2>{{ el.name }}</h2>
                <p>{{ el.title }}</p>
                <a href="{{ el.id }}/">
                    <button class="btn btn-success">Подробнее...</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
