{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}
{% block description %}
    Добавьте новую статью на нашем сайте. Укажите название, описание и содержание для публикации.
{% endblock description %}

{% block keywords %}
    добавление статьи, создание статьи, форма добавления, публикация статьи, контент, блог
{% endblock keywords %}


{% block main %}
    <div class="features">
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.title }}<br>
            {{ form.text }}<br>
            <button class="btn btn-success mt-3" type="submit">Добавить статью</button>

        </form>

    </div>

{% endblock %}