{% extends "layout.html" %}


{% block title %}{{ title }}{% endblock title %}
{% block description %}
    Добавьте новую запись в ваш личный дневник. Введите название и содержание, чтобы сохранить важные моменты.
{% endblock description %}

{% block keywords %}
    добавить запись, личный дневник, новая запись, сохранить заметки, текстовые записи, дневник пользователя
{% endblock keywords %}


{% block main %}
    <div class="features">
        <form method="post">
            {% csrf_token %}<br>
            {{ form.name }}<br>
            {{ form.text }}<br>
            {{ error }}<br>
            <button class="btn btn-success mt-3" type="submit">Добавить запись в дневник</button>
        </form>

    </div>
{% endblock main %}