{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock title %}
{% block description %}
    Подробная информация о записи в вашем личном дневнике. Просматривайте, редактируйте или удаляйте записи.
{% endblock description %}

{% block keywords %}
    запись в дневнике, личный дневник, удалить запись, редактирование записи, заметки, дневник пользователя
{% endblock keywords %}



{% block main %}
    <div class="features">
        <h1>{{ record.name }}</h1>
        <br>
        <p>{{ record.text }}</p>
        <a href="/diary/"><button class="btn btn-warning">Назад</button></a>
        <a href="delete/"><button class="btn btn-danger">Удалить запись</button></a>
    </div>
{% endblock main %}