{% extends "layout.html" %}

{% block title %}{% endblock title %}
{% block description %}
    Зарегистрируйтесь на нашем сайте, чтобы получить доступ ко всем функциям и возможностям.
{% endblock description %}

{% block keywords %}
    регистрация, создание аккаунта, форма регистрации, регистрация на сайте, регистрация пользователя
{% endblock keywords %}

{% block main %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 col-12"> <!-- Адаптивная ширина формы -->
            <div class="users_registration p-4 border rounded shadow-sm bg-white">
                <form class="registration_form" method="post">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password1.id_for_label }}" class="form-label">Пароль</label>
                        {{ form.password1 }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password2.id_for_label }}" class="form-label">Подтверждение пароля</label>
                        {{ form.password2 }}
                    </div>
                    
                    <div class="text-danger mb-3">
                        {{ form_error }}
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-success w-100">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
