{% extends "layout.html" %}

{% block title %}{% endblock title %}
{% block description %}
    Зарегистрируйтесь на нашем сайте, чтобы получить доступ ко всем функциям и возможностям.
{% endblock description %}

{% block keywords %}
    регистрация, создание аккаунта, форма регистрации, регистрация на сайте, регистрация пользователя
{% endblock keywords %}



{% block main %}
    <div class="users_registration">
        <form class="registration_form" method="post">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.email }}
            </div>
            <div class="mb-3">
                {{ form.password1 }}
            </div>
            <div class="mb-3">
                {{ form.password2 }}
            </div>
            <div class="red-text">
                {{ form_error }}
            </div>


            <div class="text-center"><button type="submit" class="btn btn-success mt-3 w-100">Register</button></div>
        </form>
    </div>
{% endblock main %}

