{% extends "layout.html" %}


{% block title %}{{ title}}{% endblock %}
{% block description %}
    Узнайте больше о нашей компании, миссии и ценностях. Мы стремимся предоставлять лучшие услуги и продукты.
{% endblock description %}

{% block keywords %}
    о нас, информация о компании, миссия, ценности, о компании, команда
{% endblock keywords %}



{% block main %}
    <div class="contact_info">
        <h1>Наши контакты:</h1>
        <h2>Номер телефона: 8-902-141-12-36</h2>
        <h2>Адрес: Ул. Перекопская, д. 15а</h2>
    </div>
{% endblock %}